main {
	display: flex;
	justify-content: space-between;
	padding: 0 6.25rem; /* 100px -> 6.25rem */
	margin-bottom: 9.375rem; /* 150px -> 9.375rem */
	flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

main > div {
	width: 50%;
	text-align: start;
}

.exampleVideo {
	width: 25rem; /* 400px -> 25rem */
	border-radius: 0.3125rem; /* 5px -> 0.3125rem */
	position: relative;
	left: 1.875rem; /* 30px -> 1.875rem */
	bottom: 1.875rem; /* 30px -> 1.875rem */
}

.videoWrapper {
	width: 25rem; /* 400px -> 25rem */
	height: 44.375rem; /* 710px -> 44.375rem */
	border: 2px solid #869594;
	background-color: #fff;
	border-radius: 0.3125rem; /* 5px -> 0.3125rem */
}

.template {
	position: absolute;
	top: 0;
	left: 0;
	width: 835px;
	z-index: -1;
}

/* Position adjustments */
.vidComponent {
	position: absolute;
	transform: scaleX(-1);
	left: 0;
	top: 0;
	width: 10%;
	width: 190px;
	z-index: -1;
}

.vidComponent2 {
	position: absolute;
	top: 38.75rem; /* 620px -> 38.75rem */
	left: 35.3125rem; /* 565px -> 35.3125rem */
	z-index: -1;
	width: 5.625rem; /* 90px -> 5.625rem */
}

.vidComponent3 {
	position: absolute;
	top: 9.375rem; /* 150px -> 9.375rem */
	left: 39.6875rem; /* 635px -> 39.6875rem */
	z-index: -1;
	width: 12.5rem; /* 200px -> 12.5rem */
}

.arrow {
	position: absolute;
	top: 15rem; /* 240px -> 15rem */
	left: 35.3125rem; /* 565px -> 35.3125rem */
	transform: rotateY(180deg) rotateZ(90deg);
}

.heading {
	font-size: 3.75rem; /* 70px -> 4.375rem */
	line-height: 1.5;
	width: 80%;
	text-transform: uppercase;
	margin: 3.125rem 0 10px; /* 50px -> 3.125rem */
}

.subheading {
	margin-bottom: 35px;
	font-size: 1.4375rem;
	width: 75%;
	line-height: 1.4;
}

.highlight {
	background-color: #fff250;
	border-radius: 0.625rem; /* 10px -> 0.625rem */
	border: 2px solid #869594;
	padding: 0 0.3125rem; /* 5px -> 0.3125rem */
}

p:has(+ .heading) {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25rem; /* 20px -> 1.25rem */
}

.coa2,
.secondaryBtn {
	background-color: #141414;
	border: 1px solid #141414;
	padding: 1.5625rem; /* 25px -> 1.5625rem */
	color: #fff;
	border-radius: 0.4375rem; /* 7px -> 0.4375rem */
	text-transform: uppercase;
	margin-right: 10px;
	transition: all 0.3s ease;
	font-size: 0.875rem;
}

.coa2:hover {
	background-color: #222222;
}

.secondaryBtn {
	color: #000;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-flex;
	align-items: center;
}

.playVidIconWrapper {
	background-color: #fff250;
	border: 2px solid #869594;
	border-radius: 50%;
	padding: 10px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
	font-size: 0.9375rem;
}

.divider {
	margin: 2.5rem 0; /* 40px -> 2.5rem */
	border-top: 2px solid #869594;
	border-radius: 0.3125rem; /* 5px -> 0.3125rem */
}

.testimonialWrapper {
	display: flex;
	align-items: center;
}

.testimonialWrapper p {
	color: #869594;
	font-size: 1.25rem; /* 20px -> 1.25rem */
	margin-bottom: 0.75rem; /* 12px -> 0.75rem */
	line-height: 1.2;
}

.testimonialWrapper > div > p:nth-child(2) {
	margin-left: 20px;
}

.testimonialWrapper > hr {
	height: 3.125rem; /* 50px -> 3.125rem */
}

.testimonialWrapper > img {
	height: 4.375rem; /* 70px -> 4.375rem */
	border-radius: 0.1875rem; /* 3px -> 0.1875rem */
}

/* Media Queries for Responsive Design */

@media (max-width: 1695px) {
	.vidComponent3,
	.arrow {
		display: none;
	}
}

@media (max-width: 1638px) {
	.testimonialWrapper > hr {
		display: none;
	}
}

@media (max-width: 1558px) {
	.heading {
		font-size: 3.75rem; /* 60px -> 3.75rem */
		width: 100%;
	}
}

@media (max-width: 1370px) {
	.vidComponent2 {
		display: none;
	}
}

@media (max-width: 1320px) {
	.testimonialWrapper p {
		font-size: 1.1rem;
	}

	.testimonialWrapper > div > p:nth-child(2) {
		margin-left: 0;
	}
}

@media (max-width: 1294px) {
	.heading {
		font-size: 3.125rem; /* 50px -> 3.125rem */
		width: 100%;
	}

	.subheading {
		font-size: 1.25rem;
	}

	.testimonialWrapper {
		align-items: flex-start;
	}

	.testimonialWrapper > .testimonialLogo {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 1181px) {
	.coa2,
	.secondaryBtn {
		margin-right: 0;
	}
}

@media (max-width: 1120px) {
	.heading {
		font-size: 2.5rem; /* 40px -> 2.5rem */
	}

	.exampleVideo {
		width: 18.75rem; /* 300px -> 18.75rem */
		border-radius: 0.3125rem; /* 5px -> 0.3125rem */
		position: relative;
		left: 1.875rem; /* 30px -> 1.875rem */
		bottom: 1.875rem; /* 30px -> 1.875rem */
	}

	.videoWrapper {
		width: 18.75rem; /* 300px -> 18.75rem */
		height: 33.125rem; /* 530px -> 33.125rem */
		border: 2px solid #869594;
		background-color: #fff;
		border-radius: 0.3125rem; /* 5px -> 0.3125rem */
	}
}

@media (max-width: 905px) {
	main {
		padding: 0 3.125rem; /* 50px -> 3.125rem */
		margin-bottom: 6.25rem; /* 100px -> 6.25rem */
		flex-direction: column;
		align-items: center;
	}

	main > div {
		width: 100%;
		text-align: center;
		margin-bottom: 1.875rem; /* 30px -> 1.875rem */
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.exampleVideo {
		width: 100%;
		max-width: 22rem; /* 400px -> 25rem */
	}

	.videoWrapper {
		width: 100%;
		max-width: 22rem; /* 400px -> 25rem */
		height: 39.1rem; /* 710px -> 44.375rem */
	}

	.heading {
		font-size: 3.125rem; /* 50px -> 3.125rem */
		width: 100%;
	}

	.contentWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.subheading {
		font-size: 1.4375rem;
	}

	.secondaryBtn {
		/* border: 1px solid #141414; */
	}

	.testimonialWrapper {
		flex-direction: column;
		align-items: center;
	}

	.testimonialLogo {
		margin-top: 10px;
	}
}

/* For mobile devices */
@media (max-width: 768px) {
	main {
		padding: 0 1.25rem; /* 20px -> 1.25rem */
	}

	.exampleVideo {
		width: 100%;
		max-width: 18.75rem; /* 300px -> 18.75rem */
		bottom: 0.625rem; /* 10px -> 0.625rem */
	}

	.videoWrapper {
		width: 100%;
		max-width: 18.75rem; /* 300px -> 18.75rem */
		height: auto;
		border-width: 1px;
	}

	.heading {
		font-size: 2.5rem; /* 40px -> 2.5rem */
		width: 100%;
		margin: 1.25rem 0; /* 20px -> 1.25rem */
	}

	.subheading {
		font-size: 1.25rem;
	}

	.testimonialWrapper p {
		font-size: 1.125rem; /* 18px -> 1.125rem */
	}

	.testimonialWrapper > img {
		height: 3.125rem; /* 50px -> 3.125rem */
	}
}

/* For very small mobile devices */
@media (max-width: 480px) {
	main {
		padding: 0 0.625rem; /* 10px -> 0.625rem */
		margin-bottom: 3.125rem; /* 50px -> 3.125rem */
	}

	.exampleVideo {
		width: 100%;
		max-width: 15.625rem; /* 250px -> 15.625rem */
		position: static;
	}

	.videoWrapper {
		width: 100%;
		max-width: 15.625rem; /* 250px -> 15.625rem */
	}

	.heading {
		font-size: 1.6875rem; /* 27px -> 1.6875rem */
		width: 95%;
	}

	.subheading {
		font-size: 1.125rem;
	}

	p:has(+ .heading) {
		font-size: 1rem;
	}

	.coa2,
	.secondaryBtn {
		padding: 1.15rem; /* 15px -> 0.9375rem */
	}

	.secondaryBtn {
		font-size: 0.875rem; /* 14px -> 0.875rem */
	}

	.testimonialWrapper p {
		font-size: 1rem; /* 16px -> 1rem */
	}
}

@media (max-width: 480px) {
	.coa2 {
		margin-bottom: 15px;
	}
}
